#navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-left: 5%;
    position: fixed;
    top: 0;
    z-index: 5;
    right: 0;
    left: 0;
}

#navbar a:hover{
    color: tomato;
}

#navbar div{
    justify-content: flex-end;
}

li{
    margin-left: 50px;
}

.navbar-brand{
    background-image: url('/assets/images/logo.jpg');
    background-position: center;
    background-size: cover;
    height: 35px;
    width: 5%;
}